.min-h-9 {
    min-height: 9rem;
}

.min-h-30 {
    min-height: 30rem;
}

img.rounded-circle.shadow {
    object-fit: cover;
}

.fa-plus-circle:before {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 0.7rem;
    font-size: 24px;
}


@media only screen and (max-width: 600px) {
    .timerWork {
        color: #57c07a;
        margin-right: 35%;
    }

}

@media only screen and (min-width: 601px) {
    .timerWork {
        color: #57c07a;
        margin-right: 3rem;
    }
    
}