.min-h-9 {
    min-height: 9rem;
}

.min-h-30 {
    min-height: 30rem;
}

img.rounded-circle.shadow {
    object-fit: cover;
}

.fa-plus-circle:before {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 0.7rem;
    font-size: 24px;
}


@media only screen and (max-width: 600px) {
    .timerWork {
        color: #57c07a;
    }

    #monicaModal {
        width: 70vw !important;
        height: 30vh !important;
    }
}

@media only screen and (min-width: 601px) {
    .timerWork {
        color: #57c07a;
        margin-right: 3rem;
    }

}

.timerWork {
    cursor: pointer;
}




.badge-custom {
    background: #a97500
}

.badge {
    padding: 0.7rem;
}

/* Dark theme styles for SweetAlert2 */
.dark-mode-transparent {
    background-color: rgba(45, 45, 45, 0.5) !important;
    color: #fff;
}

.dark-mode {
    background: #2d2d2d !important;
    color: #fff;
}

.dark-mode-header {
    background: #3a3a3a !important;
    color: #fff;
}

.dark-mode-close {
    color: #fff !important;
}

.dark-mode-confirm {
    background: #d33 !important;
    border-color: #d33;
    color: #fff;
}

.dark-mode-actions {
    margin-top: 20px;
}

div#monicaModal1 button.btn-close {
    display: none;
}

/* blink for future use */
.blink {
    animation: blink-animation 2s linear infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#monicaModal {
    width: 58vw;
    height: 65vh;
}


.moniModal1 .swal2-actions.dark-mode-actions {
    display: none !important;
}

/* monica Steps videos */
.videoWrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    /* 16:9 aspect ratio */
    height: 281px;
    width: 500px;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .videoWrapper {
        padding-bottom: 75%;
        /* 4:3 aspect ratio */
        width: 75%;
        bottom: 40%;

    }
}